@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
/* cursor */

.sliderImg {
  height: 400px;
}

.deleteBtn {
  transition: 0.3s all ease-in-out;
}

.deleteBtn:hover {
  transform: scale(0.8);
}

@media only screen and (max-width: 500px) {
  .sliderImg {
    height: 200px;
  }

  .menu-detail-card .add-to-cart-btn {
    font-size: 8pt;
    text-align: center;
  }
}

/* Nav */
.navbar {
  background-color: rgba(8, 8, 8, 0.7);
  color: white;
}

.navName,
.nav-link {
  font-family: "Fraunces", serif;
  transition: 0.5s all;
}

.navName:hover {
  text-decoration: none;
}

.nav-link {
  font-size: 10pt;
}

/* Footer */

.footer .main {
  background-image: linear-gradient(
    to right top,
    #677d83,
    #62767c,
    #5d6e75,
    #58676e,
    #536067,
    #4d575e,
    #464e54,
    #40454b,
    #36383d,
    #2b2c2f,
    #212122,
    #161616
  );
  padding: 100px;
}

.footer .title {
  padding: 20px;
  font-size: 15pt;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  border-bottom: 0.5px solid #80604d;
}

.footer p {
  size: 12pt;
  color: gainsboro;
  font-family: "Playfair Display", serif;
}

.footer .registerBtn:hover {
  transform: scale(1.2);
  text-decoration: none;
  cursor: pointer;
}

.footer .registerBtn {
  transition: 1s all;
  color: aqua;
  text-decoration: none;
}

.footer .img {
  height: 200px;
}

@media only screen and (max-width: 500px) {
  .footer .img {
    width: 150px;
    height: 150px;
  }
}

.cardtop {
  border: 0px !important;
  background-color: transparent !important;
}

.cardmid {
  border-radius: 0%;
  border-top-color: silver !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
}

.cardend {
  border-radius: 0%;
  border-top-color: silver !important;
  border-bottom-color: silver !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
}

/* pubilc */

.headerTitle {
  font-family: "Playfair Display", serif;
}

.headerSubTitle {
  font-size: 20pt;
  font-weight: lighter;
  color: #80604d;
  font-family: "Great Vibes", cursive;
}

/* Home */
.home .heroTitle {
  font-size: 85pt;
  font-family: "Great Vibes", cursive;
}

.home .heroSubTitle {
  font-size: 12pt;
  font-family: "Fraunces", serif;
}

.home .title {
  font-family: "Playfair Display", serif;
}

.home .subTitle {
  font-size: 10pt;
  font-weight: lighter;
  color: #80604d;
}

.home .company,
.home .reservation,
.home .menu,
.home .career,
.home .location {
  padding: 0px;
  padding-top: 150px;
}
/* company */
.company .des {
  font-size: 10pt;
  font-family: "Fraunces", serif;
  color: gray;
  font-weight: lighter;
}

.company .companyImage {
  width: 450px;
  height: 300px;
}

/* menu */
.home .menu .menuTitle {
  font-size: 25pt;
  color: #80604d;
  font-family: "Great Vibes", cursive;
}

.home .menu .menuDes {
  color: black;
  font-family: "Fraunces", serif;
}

.home .menu .menuPrice {
  font-size: 13pt;
  color: darkolivegreen;
  font-family: "Playfair Display", serif;
}

.home .menu .main,
.home .menu .sideDish,
.home .menu .drink {
  color: darkolivegreen;
}

.home .menu .main:hover,
.home .menu .sideDish:hover,
.home .menu .drink:hover {
  color: red;
}

/* location */
.home .location {
  padding-bottom: 50px;
}

.home .location .time {
  size: 12pt;
  color: darkolivegreen;
  font-family: "Playfair Display", serif;
}

.home .location .des {
  font-size: 10pt;
  font-family: "Fraunces", serif;
  color: gray;
  font-weight: lighter;
}

.home .location iframe {
  width: 600px;
  height: 450px;
}

@media only screen and (max-width: 500px) {
  .home .heroTitle {
    font-size: 25pt;
  }

  .home .heroSubTitle {
    font-size: 8pt;
  }

  .home .title {
    font-size: 10pt;
    font-family: "Playfair Display", serif;
  }

  .home .subTitle {
    font-size: 6pt;
    font-weight: lighter;
    color: #80604d;
    font-family: "Fraunces", serif;
  }

  .home .company,
  .home .reservation,
  .home .menu,
  .home .career,
  .home .location {
    padding-top: 100px;
  }

  .company .companyImage {
    width: 250px;
    height: 150px;
  }

  .home .location iframe {
    width: 300px;
    height: 200px;
  }
}

/* about-us */

.service {
  background: #161616;
}

.service .blinkingBtn a {
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.service .blinkingBtn a:nth-child(1) {
  filter: hue-rotate(290deg);
}

.service .blinkingBtn a:hover {
  text-decoration: none;
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.service .blinkingBtn a span {
  position: absolute;
  display: block;
}
.service .blinkingBtn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.service .blinkingBtn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.service .blinkingBtn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.service .blinkingBtn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

/* Question */
.question .main .nav-pills .nav-link.active {
  background-color: #80604d;
}

.question .main a {
  color: #80604d;
}

.register .card {
  position: relative;
}
.register .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/kjunn2000/image/upload/v1612181158/restaurant-ordering-app-cloud-image/wp1874165_ft1ejj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(85%);
}

.register .form {
  position: relative;
}

/* menu */
.menu .main a,
.updateMenu .main a {
  color: #80604d;
}

.menu .main .nav-pills .nav-link.active,
.updateMenu .main .nav-pills .nav-link.active {
  background-color: #80604d;
}

.menu .des {
  font-size: 10pt;
  font-family: "Fraunces", serif;
  color: gray;
  font-weight: lighter;
}

.menu .price {
  font-size: 15pt;
  font-weight: lighter;
  color: #80604d;
  font-family: "Fraunces", serif;
}

/* dashboard */
.dashboard button.btn.btn-link {
  color: #80604d;
}

.dashboard .nav-tabs .nav-link {
  color: white;
}

.dashboard .nav-tabs .nav-link.active {
  color: #80604d;
}
