.sliderImg {
  height: 400px;
}

.deleteBtn {
  transition : 0.3s all ease-in-out;
}

.deleteBtn:hover {
  transform: scale(0.8);
}

@media only screen and (max-width: 500px) {
  .sliderImg {
    height: 200px;
  }

  .menu-detail-card .add-to-cart-btn {
    font-size: 8pt;
    text-align: center;
  }
}
